*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.contents{
    background: white;
    color: white;
    height: 100vh;
    width: 100%;
    
}
.main-content{
    justify-content: center;
    align-items: center;
}
.brand-name{
    padding-top: 30px;
    color: black;
}
.form{
    width: 350px;
    height: 350px;
    background: #30b21a;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    top: 30px;
    left: 50%;
}
.circle1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 42%;
}
.form-h1{
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 10px;
}
.form-h3{
    margin-top: 40px;
}
.label{
    display: block;
    text-align: left;
    margin-top: 20px;
    margin-left: 60px;
}
.first-input{
    display: block;
    padding: 5px 30px;
    margin-left: 60px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
}
.first-input2{
    margin-top: 20px;
    padding: 8px 18px;
    background: orangered;
    color: white;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
